select option:disabled {
    background: rgba(165, 162, 162, 0.3);
}
#conferencelist-error,
#divisionlist-error,
#undo_redo_to-error {
    color: red;
    font-size: 12px;
    margin-bottom: 0px !important;
}
#undo_redo_move_up,
#undo_redo_move_down,
#undo_redo_move_up:hover,
#undo_redo_move_down:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: rgba(0, 0, 0, .15);
    border-radius: 5px !important;
    padding: 5px 15px;
    margin-top: 15px;
    width: 80px;
    float: right;
    font-size: 11px;
}
#undo_redo_move_down {
    float: left !important;
}
#undo_redo_rightSelected,
#undo_redo_leftSelected,
#undo_redo_rightSelected:hover,
#undo_redo_leftSelected:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.green-meadowsave,
.green-meadowsave:hover {
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
}
#addteamform label {
    font-weight: 600;
    margin-bottom: 10px;
}
.btnswrap {
    margin-top: 15px;
}
#cancelbtn {
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
}
.addteammainwrap .portlet.light {
    padding-top: 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px !important;
}
select#undo_redo option,
select#undo_redo_to option {
    padding: 5px 10px;
}
select#undo_redo {
    padding: 0px;
    height: 320px;
}
#undo_redo_to {
    padding: 0px;
    height: 320px;
    overflow-y: scroll;
}
#undo_redo_to .playerlistid {
    margin: 0px;
    padding: 5px 5px;
}
.playeractionwrap {
    margin: 0px;    
    text-align: right;
}
.switchteam {
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    border-color: rgba(0, 0, 0, 0.15);
}
.removeplayerteam {
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
}
.updateplayer {
    background-image: -webkit-linear-gradient(top, #a0cc6b, #70A62F);
    border-color: rgba(0, 0, 0, 0.15);
}
.playermainwrap {
    padding: 5px 5px;
    border-bottom: 1px solid grey;
}
.playeractionwrap span:not(:first-child) {
    margin-left: 10px;
}
.switchteam,
.removeplayerteam,
.updateplayer {
	color: #FFF;
	padding: 3px 6px;
	border-radius: 3px !important;
	cursor: pointer;
	font-size: 12px;
}
.centeredbtnswrap {
    margin-top: 50px;
}
.rightsidewrap {
    margin-top: 0px;
}
#undo_redo_rightAll {
    margin-top: 75px;
}
#undo_redo_rightAll,
#undo_redo_leftAll {
    border-radius: 4px !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    color: #ffffff;
    background-color: #286090;
    background-image: -moz-linear-gradient(top, #2991ea, #286090);
    background-image: -ms-linear-gradient(top, #2991ea, #286090);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2991ea), to(#286090));
    background-image: -webkit-linear-gradient(top, #2991ea, #286090);
    background-image: -o-linear-gradient(top, #2991ea, #286090);
    background-image: linear-gradient(top, #2991ea, #286090);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2991ea', endColorstr='#286090', GradientType=0);
    border-color: #2991ea #286090 #286090 #2991ea;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.searchheder {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
.searchbarstyle {
    float: right;
    padding-top: 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px !important;
}
.selecttext {
    margin-top: 8px;
    font-size: 15px;
}
.border-radius {
    border-radius: 4px !important;
}
.searchteambox {
    border-radius: 4px !important;
    margin-bottom: 15px;
}
.emptyselected {
    display: none;
}
.addplayerbtntop,
.addplayerbtntop:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
    border-radius: 4px !important;
    font-size: 12px;
    margin-bottom: 11px;
    padding: 7px 15px;
}
select#multiselect,
select#multiselect_to {
    padding-left: 0;
    padding-right: 0px;
    padding-top: 0px;
    border-radius: 4px !important;
    min-height: 250px;
}
select#multiselect option,
select#multiselect_to option {
    padding: 5px 10px;
}
@media screen and (min-width: 768px) {
    #PlayerModal .modal-dialog {
        width: 70%;
        /* either % (e.g. 60%) or px (400px) */
    }
}
#multiselect_rightAll,
#multiselect_leftAll {
    border-radius: 4px !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    color: #ffffff;
    background-color: #286090;
    background-image: -moz-linear-gradient(top, #2991ea, #286090);
    background-image: -ms-linear-gradient(top, #2991ea, #286090);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2991ea), to(#286090));
    background-image: -webkit-linear-gradient(top, #2991ea, #286090);
    background-image: -o-linear-gradient(top, #2991ea, #286090);
    background-image: linear-gradient(top, #2991ea, #286090);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2991ea', endColorstr='#286090', GradientType=0);
    border-color: #2991ea #286090 #286090 #2991ea;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, .15);
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#multiselect_leftSelected,
#multiselect_rightSelected,
#multiselect_leftSelected:hover,
#multiselect_rightSelected:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .25);
    color: #ffffff !important;
    background-color: #FA7414;
    background-image: -moz-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -ms-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F9BB5D), to(#FF9A03));
    background-image: -webkit-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: -o-linear-gradient(top, #F9BB5D, #FF9A03);
    background-image: linear-gradient(top, #F9BB5D, #FF9A03);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F9BB5D', endColorstr='#FF9A03', GradientType=0);
    border-color: #D58000;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#multiselect_rightAll {
    margin-top: 15px;
}
.cancelbtn {
    color: #ffffff !important;
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
    margin-left: 15px;
}
#multiselect_move_down,
#multiselect_move_up,
#multiselect_move_down:hover,
#multiselect_move_up:hover {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .25);
    color: #ffffff !important;
    ;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: rgba(0, 0, 0, .15);
    border-radius: 5px !important;
    padding: 5px 15px;
    margin-top: 15px;
    width: 80px;
    float: right;
    font-size: 11px;
}
.addnewplayerbtn,
.addnewplayerbtn:hover {
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
    border-radius: 5px !important;
    padding: 5px 20px;
    width: 100px;
}

.playernamevalgin{
	vertical-align:middle !important;
}

.assignplayertbl{
    margin-bottom: 0px;
    border-bottom: 1px solid #e4e4e4;
}

.assignplayertbl tr td{
	vertical-align:middle !important;
}

/*************karuna*****************/
.btn-success {
    color: #ffffff;
    background-color: #549E39;
    background-image: -moz-linear-gradient(top, #A1C873, #70A62F);
    background-image: -ms-linear-gradient(top, #A1C873, #70A62F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A1C873), to(#70A62F));
    background-image: -webkit-linear-gradient(top, #A1C873, #70A62F);
    background-image: -o-linear-gradient(top, #A1C873, #70A62F);
    background-image: linear-gradient(top, #A1C873, #70A62F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1C873', endColorstr='#70A62F', GradientType=0);
    border-color: #619126;
    border-radius: 4px !important;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-group.open .btn-success.dropdown-toggle {
    background-color: #70A62F;
}

.btn-success:hover {
    color: #ffffff;
    text-shadow: 0px 0px 0px #186200;
    border: 1px solid #549E39;
}
.btn-success:not(.btn-outline).focus, .btn-success:not(.btn-outline):focus {
    color: #FFF;
    background-color: #A1C873;
    border-color: #70A62F;
}

.btn-danger:hover {
    color: #fff6f6;
    text-shadow: 0px 0px 0px #760000;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled], .btn-group.open .btn-danger.dropdown-toggle {
    background-color: #E40304;
}
.btn-danger{
    background-image: -webkit-linear-gradient(top, #E95D5D, #E40304);
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px !important;
}
.btn-danger:not(.btn-outline).focus, .btn-danger:not(.btn-outline):focus {
    color: #FFF;
    background-color: #E95D5D;
    border-color: #E40304;
}